.card {
  width: 250px;
  border: 1px solid #758283;
  border-radius: 10px;
  margin: 10px;

  box-shadow: 3px 5px 5px #758283;
}

.card__image {
  width: 250px;
  object-fit: contain;
  border-radius: 10px 10px 0 0;
}

.card__title {
  display: flex;
  justify-content: space-between;
}

.card__content {
  padding: 5px;
}

.card__text {
  font-weight: bold;
}
