@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 100vw;
}

.app__btn {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.btns {
  border: none;
  background: #ffffff;
  font-size: 30px;

  cursor: pointer;
}
